<?xml version="1.0" encoding="UTF-8"?>
<!--
    Document   : Config.xml
    Created on : April 26, 2011, 1:11 PM
    Author     : ASementsov
    Description:
        Purpose of the document follows.
        The document is used as check point. 
        UserConfig class could get path of this document to store
        other configuration files here.
-->
<config config-directory="/usr/local/config/" attrColumns="2">
</config>
